@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed Ultra';
    src: url('AvenirNextCondensed-UltraLight.woff2') format('woff2'),
        url('AvenirNextCondensed-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed Ultra';
    src: url('AvenirNextCondensed-UltraLightItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('AvenirNext-DemiBold.woff2') format('woff2'),
        url('AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('AvenirNext-DemiBoldItalic.woff2') format('woff2'),
        url('AvenirNext-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Heavy.woff2') format('woff2'),
        url('AvenirNext-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-HeavyItalic.woff2') format('woff2'),
        url('AvenirNext-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Italic.woff2') format('woff2'),
        url('AvenirNext-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Medium.woff2') format('woff2'),
        url('AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-MediumItalic.woff2') format('woff2'),
        url('AvenirNext-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Regular.woff2') format('woff2'),
        url('AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('AvenirNext-UltraLight.woff2') format('woff2'),
        url('AvenirNext-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-Black.woff2') format('woff2'),
        url('OptimaLTPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('AvenirNext-UltraLightItalic.woff2') format('woff2'),
        url('AvenirNext-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-Bold.woff2') format('woff2'),
        url('OptimaLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-BlackItalic.woff2') format('woff2'),
        url('OptimaLTPro-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-DemiBoldItalic.woff2') format('woff2'),
        url('OptimaLTPro-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-DemiBold.woff2') format('woff2'),
        url('OptimaLTPro-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-BoldItalic.woff2') format('woff2'),
        url('OptimaLTPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro XBlack';
    src: url('OptimaLTPro-ExtraBlack.woff2') format('woff2'),
        url('OptimaLTPro-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-Italic.woff2') format('woff2'),
        url('OptimaLTPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro XBlack';
    src: url('OptimaLTPro-ExtraBlackIta.woff2') format('woff2'),
        url('OptimaLTPro-ExtraBlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-Medium.woff2') format('woff2'),
        url('OptimaLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-MediumItalic.woff2') format('woff2'),
        url('OptimaLTPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima LT Pro';
    src: url('OptimaLTPro-Roman.woff2') format('woff2'),
        url('OptimaLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Bold.woff2') format('woff2'),
        url('AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-BoldItalic.woff2') format('woff2'),
        url('AvenirNext-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Bold.woff2') format('woff2'),
        url('AvenirNextCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

